
    

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/j2ee/dtds/web-app_2_3.dtd">

<web-app>
    <display-name>xwss.s19</display-name>
    <description>S19 e2e test : saml20 used in samlToken policy assertion as EndorsingSupportingToken. Use the SAML API in samlcallbackhandler</description>
  
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>xwss.s19</servlet-name>
        <display-name>xwss.s19</display-name>
        <description>S19 e2e test : saml20 used in samlToken policy assertion as EndorsingSupportingToken. Use the SAML API in samlcallbackhandler</description>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    

    <servlet-mapping>
        <servlet-name>xwss.s19</servlet-name>
        <url-pattern>/PingImpl</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
</web-app>
